<div class="footer">

  <div class="footer-logos">
      <p>Nos fournisseurs</p>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Logo_of_the_French_Army_%28Armee_de_Terre%29.svg/1200px-Logo_of_the_French_Army_%28Armee_de_Terre%29.svg.png" width="70">
      <img src="https://cdn.shopify.com/s/files/1/1231/8022/files/armee_de_lair_logo.png?6791716826254655910" width="70">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Logo_of_the_French_Navy_%28Marine_Nationale%29.svg/1200px-Logo_of_the_French_Navy_%28Marine_Nationale%29.svg.png" width="70">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/NASA_Wormball_logo.svg/1200px-NASA_Wormball_logo.svg.png" width="70">
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/04/MarvelLogo.svg" width="70">
      <img src="https://logo-logos.com/wp-content/uploads/2016/10/The_Walt_Disney_Company_logo.png" width="70">
  </div>

  <div class="footer-links-copyright">
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="footer-copyright">
      Tank You décline toute responsabilité en cas de contrôle de police, de vol, de casse, d'accident ou de décès
    </div>
  </div>
</div>
