<nav class="navbar d-flex justify-content-between navbar-light bg-light">
  <a class="navbar-brand" href="/">Logo</a>
  <div class="d-flex">
    <% if user_signed_in? %>
      <%= link_to 'Log out', destroy_user_session_path,method: :delete, class: "btn btn-outline-primary my-2 my-sm-0 ml-2"%>
    <% else %>
      <%= link_to 'Log in', new_user_session_path, class: "btn btn-outline-primary my-2 my-sm-0 ml-2"%>
    <% end %>
    <%= link_to 'Vos orders', orders_path %>
    <%= link_to 'Vehicles', vehicles_path %>
  </div>
</nav>
