.container-orders {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 600px;
}
.card-order {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 8px;
  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
  h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 14px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
 .card-order-infos {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
 .card-order-button {
    a {
      text-decoration: none;
      background-color: #47BCFF;
      box-shadow: 0 0 15px rgba(0,0,0,0.1);
      font-size: 14px;
      color: white;
      padding: 8px 10px;
      border-radius: 20px;
      &:hover {
        opacity: 0.65;
      }
    }
 }
}


