.container-form {
  margin: 30px 350px;
}
.form {
  background-color: $third;
  padding: 20px 30px;
  color: white;
  border-radius: 5px;
}

.prix {
  h3 {
    margin: 0;
  }
  .prix_total {
    margin-left: 8px;
    font-size: 25px;
    font-weight: bolder;
  }
}


.submit-button {
  display: block;
  width: 40%;
  margin: 30px auto 0 auto;
  padding: 10px 0px;
  background-color: $first;
  border: none;
  border-radius: 5px;
  &:hover {
    opacity: 0.80;
  }
}

.back-button {
  display: block;
  width: 40%;
  margin: 12px auto 10px auto;
  padding: 10px 0px;
  background-color: $second;
  color: white;
  text-align: center;
  border-radius: 5px;
  &:hover {
    text-decoration: none;
    color: white;
    opacity: 0.85;
  }
}

.back-button2 {
  margin: 12px auto 10px auto;
  padding: 15px;
  background-image: url("https://static.lexpress.fr/medias_12191/w_1618,h_905,c_crop,x_68,y_0/w_1000,h_563,c_fill,g_north/v1577966205/le-deplacement-en-vitesse-lumiere-version-google-maps_6242146.jpeg");
  background-size: 75px;
  color: white;
  text-align: center;
  border-radius: 5px;
  &:hover {
    text-decoration: none;
    color: white;
    opacity: 0.85;
  }
}
