.container-form {
  margin: 30px 350px;
}
.form {
  background-color: $third;
  padding: 20px 30px;
  color: white;
  border-radius: 5px;
}

.prix {
  h3 {
    margin: 0;
  }
  .prix_total {
    margin-left: 8px;
    font-size: 25px;
    font-weight: bolder;
  }
}


.submit-button {
  display: block;
  width: 40%;
  margin: 30px auto 0 auto;
  padding: 10px 0px;
  background-color: $first;
  border: none;
  border-radius: 5px;
  color: white;
  &:hover {
    opacity: 0.80;
  }
}

.back-button {
  display: block;
  width: 40%;
  margin: 12px auto 10px auto;
  padding: 10px 0px;
  background-color: $second;
  color: $third;
  text-align: center;
  border-radius: 5px;
  &:hover {
    text-decoration: none;
    opacity: 0.85;
  }
}

