.form {
   width: 800px;
   background-color: $third;
   padding: 20px 30px;
   color: white;
   border-radius: 5px;
}

.submit-button {
  display: block;
  width: 40%;
  margin: 30px auto 0 auto;
  padding: 10px 0px;
  background-color: $first;
  border: none;
  border-radius: 5px;
  &:hover {
    opacity: 0.80;
  }
}

.back-button {
  display: block;
  width: 40%;
  margin: 12px auto 10px auto;
  padding: 10px 0px;
  background-color: $second;
  color: white;
  text-align: center;
  border-radius: 5px;
  &:hover {
    text-decoration: none;
    color: white;
    opacity: 0.85;
  }
}
