.search-form {
  padding: 16px;
  height: 50px;
  border-radius: 50px;
  background-color: $first;
  label, input, select {
    margin-bottom: 0px;
    margin-right: 8px;
  }
}

.search-btn {
  background-color: $second;
  color: $third;
  padding: 8px 12px;
  border-radius: 50%;
  margin-left: 8px;
  border: none;
  color: $third;
}

.search-filter {
  margin: 0 auto;
  height: 60px;
  input {
    width: 88px;
    font-size: 12px;
  }
}

.search-filter-one {
  margin: 5px;
  border-radius: 10px;
  color: black;
  line-height: .9;
  font-size: 12px;
  font-weight: bold;
  input, select {
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: grey;
    font-weight: lighter;
    &:hover {
      font-weight: bold;
    }
    option {
      background-color: $first;
      border: none;
    }
  }
}
